.banner{
    background-image: url(./Assets/Hero-bg.png);
    width: 1380px;
    height: 680px;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid black; */
    background-position: center;
    margin: 0 auto;
}

nav ul li{
    list-style: none;
    color: rgb(43, 43, 197);

}
nav ul li a{
    text-decoration: none;
}
nav ul{
    display: flex;
    margin: 50px 40px;
     justify-content: space-between;
     border: 1px solid;
     padding: 40px;
    
}
.banner-description{
    border: 1px solid;
    width: 600px;
     height: 200px;
     margin-left: 420px;
     margin-top: 250px;
     align-items: center;
     text-align: center;
    

    }
    .title{
        font-weight: 700;
        font-size: 50px;
       
    }
    .btn-primary{
        padding: 10px 20px;
        background-color: rgb(78, 71, 255);
        font-weight: 700;
        border: none;
        border-radius: 10px;
    }
    .btn-primary:hover{
        color: black;
        background-color: rgb(78, 71, 255);
    }
    .section-1{
        display: flex;
        justify-content: space-between;
        padding: 100px 200px;
        
       
    }
    
    .text{
       border: 1px dotted;
        width: 300px;
        height: 250px;
        text-align: center;
        border: none;
        

    }
    .img{
      border: 5px solid;
       border-radius: 20px;
       box-shadow: 10px 10px 10px;
        
        

    }
    .text-2{
        text-align: center;
    }
    .lower-1, .lower-2, .lower-3{
        /* border: 1px solid; */
        width: 100px;
        text-align: center;
      

    }
    .lower-case{
        display: flex;
        justify-content: center;
        gap: 60px;
    }
    .productive-1{
        background-color: rgba(78, 71, 255, 0.1);
        border-radius: 20px;
    }
    .uses{
        margin-top: 100px;
    }
    .uses-1{
        text-align: center;
        font-weight: 700;
    }
    .use-var-1, .use-var-2, .use-var-3{
        border: 1px solid;
        width: 300px;
        height: 200px;
    }
    .uses-2{
         display: flex;
        justify-content: center;
        gap: 60px;
    }
    .focus{
        margin-top: 100px;
        text-align: center;
    }
    .focus-2{
        margin-top: 10px;
        
    }

    
